# Specifies the port number for sshd.
Port 22

# Specifies whether "root" can log in using ssh.
PermitRootLogin no

# Specifies the file that contains the public host keys.
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Specifies which user authentication methods are available.
PasswordAuthentication no
ChallengeResponseAuthentication no

# Specifies whether sshd should print debugging information to the system log.
LogLevel VERBOSE

# Specifies whether TCP forwarding is permitted.
AllowTcpForwarding yes

# Specifies whether the system should send keepalive messages to the other side.
TCPKeepAlive yes
