---
app_name: "{{ app_name }}"

######
# Configuration options for dokku_app/tasks/default_config.yml
######

# Remove if you don't want to attach a postgres db to the app.
postgres:
  # (string) Set the name for a new or existing postgres_service to link with.
  # "default" is a database service shared among multiple apps.
  name: "default"
  # (key/value) Set environment variables for postgres_service. See options: https://github.com/dokku/dokku-postgres
  environment:
    POSTGRES_IMAGE_VERSION: 14.1

# (boolean) Add letsencrypt SSL to your app.
letsencrypt: false

app_domains:
  - "{{ (env == 'production') | ternary('', env + '.') }}example.com"

######
# Environment variables for app
######
config:
  example: 1
